openapi: 3.1.0
info:
    title: Open360 app API
    version: 1.0.0
    description: API per tutte le richieste inerenti l'app

servers:
    - url: https://open360.it/app/v1

tags:
    - name: "Users"
      description: Operazioni relative alla gestione degli utenti
    - name: "Enrollments"
      description: Gestione delle iscrizioni

paths:
    /register:
        post:
            tags:
                - Users
            operationId: Users_Register
            summary: Registra un nuovo utente
            description: Usata solo dalla LoginFunction con accesso privilegiato.
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/RegisterRequest"
            responses:
                "200":
                    description: Utente registrato
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/RegisterResponse"
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno

    /notifyCode:
        post:
            tags:
                - Users
            operationId: Users_NotifyCode
            summary: Invia email con il codice OTP
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/NotifyCodeRequest"
            responses:
                "200":
                    description: Codice inviato con successo
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno

    /updateUserProfile:
        post:
            tags:
                - Users
            operationId: Users_UpdateUserProfile
            summary: Aggiorna i dati del profilo utente
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/UpdateProfileDataRequest"
            responses:
                "200":
                    description: Dati aggiornati con successo
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno

    /enrollments:
        post:
            tags:
                - Enrollments
            summary: Permette all'utente di inserire una nuova iscrizione a corso/evento dall'app
            operationId: Enrollments_InsertEnrollments
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/InsertEnrollmentsRequest"
            responses:
                "200":
                    description: Iscrizione registrata con successo
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/InsertEnrollmentsResponse"
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno

    /enrollments/{enrollmentId}/module:
        get:
            tags:
                - Enrollments
            summary: Permette all'utente di scaricare il modulo relativo all'iscrizione effettuata
            operationId: Enrollments_GetModule
            security:
                - bearerAuth: []
            parameters:
                - name: enrollmentId
                  in: path
                  required: true
                  description: ID dell'iscrizione
                  schema:
                    type: integer
            responses:
                "200":
                    description: Invia il link per scaricare il modulo iscrizione in PDF
                    content:
                        application/json:
                            schema:
                                type: string
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno


    /paymentIntents/{paymentIntentId}:
        get:
            tags:
                - PaymentIntents
            summary: Ottiene un link per pagare un impegno dall'app
            operationId: PaymentIntents_GetPaymentLink
            security:
                - bearerAuth: []
            parameters:
                - name: paymentIntentId
                  in: path
                  required: true
                  description: ID dell'impegno di pagamento
                  schema:
                    type: string
            responses:
                "200":
                    description: Link per pagare un impegno
                    content:
                        application/json:
                            schema:
                                type: string
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno


components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT

    schemas:
    #TODO: Valutare required e tradurre nomi
        RegisterRequest:
            type: object
            description: DTO inviato dall'app al momento della registrazione di un nuovo utente
            properties:
                idSoggetto:
                    type: string
                idCentro:
                    type: string
                email:
                    type: string
                    format: email

    #TODO: Valutare required e tradurre nomi
        RegisterResponse:
            type: object
            description: DTO di risposta dall'app dopo la registrazione di un nuovo utente
            properties:
                idUtente:
                    type: string
            required:
                - idUtente

    #TODO: Valutare required e tradurre nomi
        NotifyCodeRequest:
            type: object
            properties:
                code:
                    type: string
                email:
                    type: string
                    format: email
            required:
                - code
                - email

        UpdateProfileDataRequest:
            type: object
            required:
                - id
            properties:
                id:
                    type: string
                firstName:
                    type: [null,string]
                lastName:
                    type: [null,string]
                email:
                    type: [null,string]
                    format: email
                fiscalCode:
                    type: [null,string]
                phone:
                    type: [null,string]

        InsertEnrollmentsRequest:
            type: object
            required:
                - chosenPaymentMethod
                - enrollments
            properties:
                chosenPaymentMethod:
                    type: object
                    required:
                        - id
                    description: Strumento scelto dall'utente per eseguire il pagamento
                    properties:
                        id:
                            type: integer
                            description: ID dello strumento di pagamento scelto
                enrollments:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/Enrollment"

        Enrollment:
            type: object
            required:
                - activityId
                - centerId
                - registeredUser
                - chosenPriceList
                - billingDetails
            properties:
                activityId:
                    type: string
                    description: ID dell'attività
                centerId:
                    type: string
                    description: ID del centro
                parentUser:
                    type: object
                    description: Dati del genitore (da compilare solo quando si sta inviando l'iscrizione ad un corso per minorenni; in caso contrario usare "registeredUser")
                    required:
                        - firstName
                        - lastName
                        - fiscalCode
                    properties:
                        firstName:
                            type: string
                        lastName:
                            type: string
                        fiscalCode:
                            type: string
                        address:
                            $ref: "#/components/schemas/Address"
                        phoneNumber:
                            type: [null, string]
                registeredUser:
                    type: object
                    description: Dati dell'iscritto
                    required:
                        - firstName
                        - lastName
                        - fiscalCode
                    properties:
                        firstName:
                            type: string
                        lastName:
                            type: string
                        fiscalCode:
                            type: string
                        address:
                            $ref: "#/components/schemas/Address"
                        phoneNumber:
                            type: [null, string]
                chosenCustomOptions:
                    type: array
                    description: Opzioni di iscrizione selezionate dall'utente
                    items:
                        type: object
                        required:
                            - id
                            - selectedValue
                        properties:
                            id:
                                type: integer
                                description: ID dell'opzione (es. "scegli il turno", "scegli la taglia della maglietta")
                            selectedValue:
                                type: integer
                                description: Valore dell'opzione scelta (es. "turno 1", "M")
                chosenServices:
                    type: array
                    description: Servizi aggiuntivi scelti dall'utente
                    items:
                        type: object
                        required:
                            - id
                        properties:
                            id:
                                type: integer
                            quantity:
                                type: [null, integer]
                chosenPriceList:
                    type: object
                    description: Dettaglio del piano rate scelto dall'utente
                    required:
                        - id
                    properties:
                        id:
                            type: integer
                            description: ID del piano rate selezionato
                notes:
                    type: string
                    default: ""
                    description: Testo libero inserito dall'utente (preferenze, allergie, richieste particolari, ecc.)
                moduleAcceptances:
                    type: array
                    description: Accepted modules and policies
                    items:
                        type: object
                        properties:
                            acceptedModuleId:
                                type: string
                                description: ID delle policy accettate dall'utente
                billingDetails:
                    type: object
                    description: Dati di fatturazione
                    required:
                        - firstName
                        - lastName
                        - fiscalCode
                        - address
                    properties:
                        firstName:
                            type: string
                        lastName:
                            type: string
                        fiscalCode:
                            type: string
                        address:
                            $ref: "#/components/schemas/Address"
                        phoneNumber:
                            type: string

        InsertEnrollmentsResponse:
            type: object
            required:
                - amount
                - chosenPaymentMethod
            properties:
                amount:
                    type: number
                    description: Importo effettivo della prossima rata da pagare
                chosenPaymentMethod:
                    type: string
                    enum:
                        - pay at center
                        - pay in App
                        - bank transfer
                    description: Modalità di pagamento scelta
                paymentLink:
                    type: [null, string]
                    description: Link pagamento generato da API tramite AssoPay
                iban:
                    type: [null, string]
                    description: IBAN su cui il client dovrà fare il bonifico



        Address:
            $ref: "../schemas/firestore.yaml#/components/schemas/Address"

