openapi: 3.1.0
info:
    title: Open360 app API
    version: 1.0.0
    description: API per tutte le richieste inerenti l'app

servers:
    - url: https://open360.it/app/v1

tags:
    - name: "Users"
      description: Operazioni relative alla gestione degli utenti
    - name: "Enrollments"
      description: Gestione delle iscrizioni
    - name: "PaymentCommitments"
      description: Gestione degli impegni di pagamento
    - name: "OTP"
      description: Gestione codici OTP
    - name: "Centers"
      description: Gestione dei centri e attività
    - name: "Search"
      description: Funzionalità di ricerca

paths:
    /register:
        post:
            tags:
                - Users
            operationId: Users_Register
            summary: Registra un nuovo utente
            description: Usata solo dalla LoginFunction con accesso privilegiato.
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/RegisterRequest"
            responses:
                "200":
                    description: Utente registrato
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/RegisterResponse"
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno

    /notifyCode:
        post:
            tags:
                - Users
            operationId: Users_NotifyCode
            summary: Invia email con il codice OTP
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/NotifyCodeRequest"
            responses:
                "200":
                    description: Codice inviato con successo
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno

    /updateUserProfile:
        post:
            tags:
                - Users
            operationId: Users_UpdateUserProfile
            summary: Aggiorna i dati del profilo utente
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/UpdateProfileDataRequest"
            responses:
                "200":
                    description: Dati aggiornati con successo
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno

    /deleteUserAccount:
        post:
            tags:
                - Users
            operationId: Users_DeleteUserAccount
            summary: Elimina l'account utente
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/DeleteUserAccountRequest"
            responses:
                "200":
                    description: Account eliminato con successo
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno

    /deleteUserChild:
        post:
            tags:
                - Users
            operationId: Users_DeleteUserChild
            summary: Elimina un figlio associato all'account utente
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/DeleteUserChildRequest"
            responses:
                "200":
                    description: Figlio eliminato con successo
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno

    /enrollments:
        post:
            tags:
                - Enrollments
            summary: Permette all'utente di inserire una nuova iscrizione a corso/evento dall'app
            operationId: Enrollments_InsertEnrollments
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/InsertEnrollmentsRequest"
            responses:
                "200":
                    description: Iscrizione registrata con successo
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/InsertEnrollmentsResponse"
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno

    /enrollments/{enrollmentId}/module:
        get:
            tags:
                - Enrollments
            summary: Permette all'utente di scaricare il modulo relativo all'iscrizione effettuata
            operationId: Enrollments_GetModule
            security:
                - bearerAuth: []
            parameters:
                - name: enrollmentId
                  in: path
                  required: true
                  description: ID dell'iscrizione
                  schema:
                    type: integer
            responses:
                "200":
                    description: Invia il link per scaricare il modulo iscrizione in PDF
                    content:
                        application/json:
                            schema:
                                type: string
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno

    /paymentCommitments/{paymentIntentId}/receipt:
         get:
            tags:
                - PaymentCommitments
            summary: Scarica la ricevuta di pagamento di un impegno
            operationId: PaymentCommitments_GetReceipt
            security:
                - bearerAuth: []
            parameters:
                - name: paymentIntentId
                  in: path
                  required: true
                  description: ID dell'impegno di pagamento
                  schema:
                    type: integer
            responses:
                "200":
                    description: Ricevuta in PDF
                    content:
                        application/json:
                            schema:
                                type: string
                "204":
                    description: Ricevuta non presente
                    content:
                        application/json:
                            schema:
                                type: string
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno
    
    /paymentCommitments/{paymentIntentId}/payInApp:
        get:
            tags:
                - PaymentCommitments
            summary: Ottiene un payment intent per pagare un impegno dall'app
            operationId: PaymentCommitments_PayInApp
            security:
                - bearerAuth: []
            parameters:
                - name: paymentIntentId
                  in: path
                  required: true
                  description: ID dell'impegno di pagamento
                  schema:
                    type: integer
            responses:
                "200":
                    description: Payment intent per pagare un impegno
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PayInAppResponse"
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno
    
    /paymentCommitments/{paymentIntentId}/uploadBankTransferAccountant:
        post:
            tags:
                - PaymentCommitments
            summary: Carica una contabile per attestare l'avvenuto bonifico
            operationId: PaymentCommitments_UploadBankTransferAccountant
            security:
                - bearerAuth: []
            parameters:
                - name: paymentIntentId
                  in: path
                  required: true
                  description: ID dell'impegno di pagamento
                  schema:
                      type: integer
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            required:
                                - file
                            properties:
                                file:
                                    type: string
                                    format: binary
                                    description: Il file in formato PDF o immagine
            responses:
                "200":
                    description: Contabile caricata correttamente e URL per visualizzarla
                    content:
                        application/json:
                            schema:
                                type: string
                "400":
                    description: Richiesta non valida
                "401":
                    description: Non autorizzato
                "500":
                    description: Errore interno

    /otpCodes:
      get:
        tags:
            - OTP
        summary: Restituisce il codice OTP
        operationId: OTP_GetCode
        parameters:
          - name: email
            in: query
            required: false
            schema:
              type: string
              format: email
        responses:
          '200':
            description: Codice OTP restituito correttamente
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/OtpCode'

    /centers:
      get:
        tags:
            - Centers
        summary: Restituisce la lista di tutti i centri
        operationId: Centers_GetAll
        responses:
          '200':
            description: Lista dei centri
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Center'
      patch:
        tags:
            - Centers
        summary: Aggiorna la data di ultima modifica sul centro
        operationId: Centers_UpdateTimestamp
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTimestampDto'
        responses:
          '200':
            description: Aggiornato

    /centers/{centerId}:
      get:
        tags:
            - Centers
        summary: Restituisce i dettagli di un centro specifico
        operationId: Centers_GetById
        parameters:
          - name: centerId
            in: path
            required: true
            description: ID univoco del centro
            schema:
              type: string
        responses:
          '200':
            description: Dati del centro
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Center'
          '404':
            description: Centro non trovato

    /centers/{centerId}/activity:
      get:
        tags:
            - Centers
        summary: Restituisce la lista delle attività di un centro
        operationId: Centers_GetActivities
        parameters:
          - name: centerId
            in: path
            required: true
            description: ID univoco del centro
            schema:
              type: string
        responses:
          '200':
            description: Lista delle attività di un centro
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Activity'
          '404':
            description: Centro non trovato

    /centers/{centerId}/activity/{activityId}:
      parameters:
        - name: centerId
          in: path
          required: true
          description: ID del centro
          schema:
            type: string
        - name: activityId
          in: path
          required: true
          description: ID unico dell'attività
          schema:
            type: string
      get:
        tags:
            - Centers
        summary: Restituisce i dettagli di un'attività specifica
        operationId: Centers_GetActivityById
        responses:
          '200':
            description: Dati dell'attività
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Activity'
          '404':
            description: Centro o attività non trovata
      patch:
        tags:
            - Centers
        summary: Aggiorna i moduli collegati all'attività (richiamata quando si modificano i moduli a livello di centro)
        operationId: Centers_UpdateActivityModules
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateActivityModules'
        responses:
          '200':
            description: Aggiornato

    /search:
      get:
        tags:
            - Search
        summary: Restituisce i risultati da visualizzare nella pagina di ricerca dell'app
        operationId: Search_GetResults
        responses:
          '200':
            description: Risultati ricerca
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/SearchItem'

    /users:
      get:
        tags:
            - Users
        summary: Utenti dell'app Open360
        operationId: Users_GetAll
        responses:
          '200':
            description: Lista Utenti
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/User'
      patch:
        tags:
            - Users
        summary: Aggiorna la data di ultima modifica sull'utente
        operationId: Users_UpdateTimestamp
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTimestampDto'
        responses:
          '200':
            description: Aggiornato

    /users/{userId}/childs:
      get:
        tags:
            - Users
        summary: Figli dell'utente Open360
        operationId: Users_GetChilds
        parameters:
          - name: userId
            in: path
            required: true
            description: ID dell'utente
            schema:
              type: string
        responses:
          '200':
            description: Lista figli dell'Utente
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Child'

    /users/{userId}/purchases:
      get:
        tags:
            - Users
        summary: Acquisti dell'utente
        operationId: Users_GetPurchases
        parameters:
          - name: userId
            in: path
            required: true
            description: ID dell'utente
            schema:
              type: string
        responses:
          '200':
            description: Lista acquisti dell'Utente
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/UserPurchase'

    /users/{userId}/purchases/{purchaseId}:
      patch:
        tags:
            - Users
        summary: Aggiorna un Acquisto dell'Utente, chiamata quando viene completato il pagamento 
        operationId: Users_UpdatePurchase
        parameters:
          - name: userId
            in: path
            required: true
            description: ID dell'utente
            schema:
              type: string
          - name: purchaseId
            in: path
            required: true
            description: ID dell'acquisto
            schema:
              type: string
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserPurchase'
        responses:
          '200':
            description: Aggiornato
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UserPurchase'

components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT

    schemas:
        RegisterRequest:
            type: object
            description: DTO inviato dall'app al momento della registrazione di un nuovo utente
            properties:
              subjectId:
                type: [null,string]
              centerId:
                type: [null,string]
              email:
                type: string
                format: email
              name:
                type: [null,string]
              photoUrl:
                type: [null,string]
                format: uri
            required:
              - email

        RegisterResponse:
            type: object
            description: DTO di risposta dall'app dopo la registrazione di un nuovo utente
            properties:
                userId:
                    type: string
            required:
                - userId

        NotifyCodeRequest:
            type: object
            required:
                - code
                - email
            properties:
                code:
                    type: string
                email:
                    type: string
                    format: email

        UpdateProfileDataRequest:
            type: object
            required:
                - id
            properties:
                id:
                    type: string
                firstName:
                    type: [null,string]
                lastName:
                    type: [null,string]
                email:
                    type: [null,string]
                    format: email
                fiscalCode:
                    type: [null,string]
                phone:
                    type: [null,string]
                address:
                    $ref: "#/components/schemas/Address"

        DeleteUserAccountRequest:
            type: object
            required:
                - userId
            properties:
                userId:
                    type: string

        DeleteUserChildRequest:
            type: object
            required:
                - userId
                - childId
            properties:
                userId:
                    type: string
                childId:
                    type: string

        InsertEnrollmentsRequest:
            type: object
            required:
                - chosenPaymentMethod
                - enrollments
            properties:
                chosenPaymentMethod:
                    type: object
                    required:
                        - id
                    description: Strumento scelto dall'utente per eseguire il pagamento
                    properties:
                        id:
                            type: integer
                            description: ID dello strumento di pagamento scelto
                enrollments:
                    type: array
                    minItems: 1
                    items:
                        $ref: "#/components/schemas/Enrollment"

        Enrollment:
            type: object
            required:
                - activityId
                - centerId
                - registeredUser
                - chosenPriceList
                - billingDetails
            properties:
                activityId:
                    type: string
                    description: ID dell'attività
                centerId:
                    type: string
                    description: ID del centro
                parentUser:
                    type: object
                    description: Dati del genitore (da compilare solo quando si sta inviando l'iscrizione ad un corso per minorenni; in caso contrario usare "registeredUser")
                    required:
                        - firstName
                        - lastName
                        - fiscalCode
                        - address
                    properties:
                        firstName:
                            type: string
                        lastName:
                            type: string
                        fiscalCode:
                            type: string
                        address:
                            $ref: "#/components/schemas/Address"
                        phoneNumber:
                            type: [null, string]
                registeredUser:
                    type: object
                    description: Dati dell'iscritto
                    required:
                        - firstName
                        - lastName
                        - fiscalCode
                        - address
                    properties:
                        id:
                            type: [null, string]
                            description: ID dell'iscritto (da compilare solo quando si sta inviando l'iscrizione ad un corso per minorenni, e si è scelto di iscrivere un figlio recuperato dalla lista dei figli già caricati)
                        firstName:
                            type: string
                        lastName:
                            type: string
                        fiscalCode:
                            type: string
                        address:
                            $ref: "#/components/schemas/Address"
                        phoneNumber:
                            type: [null, string]
                chosenCustomOptions:
                    type: array
                    description: Opzioni di iscrizione selezionate dall'utente
                    items:
                        type: object
                        required:
                            - id
                            - selectedValue
                        properties:
                            id:
                                type: integer
                                description: ID dell'opzione (es. "scegli il turno", "scegli la taglia della maglietta")
                            selectedValue:
                                type: integer
                                description: Valore dell'opzione scelta (es. "turno 1", "M")
                chosenServices:
                    type: array
                    description: Servizi aggiuntivi scelti dall'utente
                    items:
                        type: object
                        required:
                            - id
                        properties:
                            id:
                                type: integer
                            quantity:
                                type: [null, integer]
                chosenPriceList:
                    type: object
                    description: Dettaglio del piano rate scelto dall'utente
                    required:
                        - id
                    properties:
                        id:
                            type: integer
                            description: ID del piano rate selezionato
                chosenConsents:
                    type: array
                    items: 
                        type: integer
                        description: ID della clausola accettata (fa riferimento alla lista di termini e condizioni relative all'attività)
                    description: Lista delle clausole facoltative che l'utente ha accettato; si inviano solo le clausole facoltative in quanto si dà per scontato che quelle obbligatorie siano state accettate al momento di inoltrare l'iscrizione
                notes:
                    type: string
                    default: ""
                    description: Testo libero inserito dall'utente (preferenze, allergie, richieste particolari, ecc.)
                moduleAcceptances:
                    type: array
                    description: Accepted modules and policies
                    items:
                        type: integer
                        description: ID delle policy accettate dall'utente
                billingDetails:
                    type: object
                    description: Dati di fatturazione
                    required:
                        - firstName
                        - lastName
                        - fiscalCode
                        - address
                        - email
                    properties:
                        firstName:
                            type: string
                        lastName:
                            type: string
                        fiscalCode:
                            type: string
                        address:
                            $ref: "#/components/schemas/Address"
                        email:
                            type: string

        InsertEnrollmentsResponse:
            type: object
            required:
                - amount
                - chosenPaymentMethod
            properties:
                amount:
                    type: number
                    description: Importo effettivo della prossima rata da pagare
                chosenPaymentMethod:
                    type: string
                    enum:
                        - pay at center
                        - pay in App
                        - bank transfer
                    description: Modalità di pagamento scelta
                paymentIntentClientSecret:
                    type: [null, string]
                    description: Payment intent ID generato da Stripe (presente solo se la modalità di pagamento scelta è "pay in App")
                customerId:
                    type: [null, string]
                    description: ID del customer Stripe associato all'utente che sta effettuando il pagamento
                customerEphemeralKeySecret:
                    type: [null, string]
                    description: Ephemeral key per il customer Stripe associato all'utente che sta effettuando il pagamento
                publishableKey:
                    type: [null, string]
                    description: Chiave pubblica Stripe da usare nell'SDK per i pagamenti in-app 
                iban:
                    type: [null, string]
                    description: IBAN su cui il client dovrà fare il bonifico
                bankTransferReference:
                    type: [null, string]
                    description: Causale che il cliente deve indicare nel bonifico per aiutare il centro con la riconciliazione del pagamento 

        PayInAppResponse:
            type: object
            required:
                - paymentIntentClientSecret
                - customerId
                - customerEphemeralKeySecret
                - publishableKey
            properties:
                paymentIntentClientSecret:
                    type: string
                    description: Client secret del payment intent generato da Stripe per permettere il pagamento in-app tramite SDK di Stripe
                customerId:
                    type: string
                    description: ID del customer Stripe associato all'utente che sta effettuando il pagamento
                customerEphemeralKeySecret:
                    type: string
                    description: Ephemeral key per il customer Stripe associato all'utente che sta effettuando il pagamento
                publishableKey:
                    type: string
                    description: Chiave pubblica Stripe da usare nell'SDK per i pagamenti in-app 



        CollectionsNames:
          type: string
          enum: [centers, activities, search, users, children, purchases, otpcodes, notifications]
          description: Nomi delle collezioni firestore

        OtpCode:
          type: object
          required:
            - createdAt
            - expiresAt
            - email
          properties:
            subjectId:
              type: [null,string]
            centerId:
              type: [null,string]
            email:
              type: string
              format: email
            userId:
              type: [null,string]
            createdAt:
              type: string
              format: date-time
            expiresAt:
              type: string
              format: date-time

        Center:
          type: object
          required:
            - id
            - name
            - logoUrl
            - landingImageUrl
            - paymentMethods
            - lastUpdatedDetails
          properties:
            id:
              type: string
              description: ID univoco del centro
            name:
              type: string
              description: Nome del centro
            description:
              type: string
              default: ''
              description: Descrizione (HTML)
            address:
              $ref: '#/components/schemas/Address'
            location:
              $ref: '#/components/schemas/Location'
            logoUrl:
              type: string
              format: uri
              description: URL del logo del centro
            landingImageUrl:
              type: string
              format: uri
              description: URL dell'immagine di copertina (landing)
            timetable:
              type: [null,string]
              description: Informazioni sugli orari di apertura/attività
            availableServices:
              type: [null,string]
              description: Elenco o descrizione dei servizi disponibili
            paymentMethods:
              description: Modalità di pagamento ammesse da un centro (es. paga in centro, paga in app, bonifico, ...)
              type: array
              minItems: 1
              items: 
                $ref: '#/components/schemas/PaymentMethod'
            contacts:
              $ref: '#/components/schemas/Contacts'
            lastUpdatedDetails:
              type: string
              format: date-time
              description: Timestamp aggiornamento dati (formato ISO 8601)

        Location:
          type: object
          required:
            - lat
            - long
          properties:
            lat:
              type: number
            long:
              type: number
            geohash:
              type: [null, string]

        Contacts:
          type: object
          properties:
            phone:
              type: [null, string]
            email:
              type: [null, string]
            whatsapp:
              type: [null, string]
            website:
              type: [null, string]
            socialMedia:
              $ref: '#/components/schemas/SocialMedia'

        SocialMedia:
          type: array
          items:
            type: object
            required:
              - socialName
              - socialUrl
            properties:
              socialName:
                type: string
              socialUrl:
                type: string
                format: uri

        Activity:
          type: object
          required:
            - id
            - centerId
            - title
            - description
            - startDate
            - endDate
            - subscriptionStartDate
            - subscriptionEndDate
            - type
            - imageUrl
            - priceLists
            - lastUpdatedDetails
          properties:
            id:
              type: string
            centerId:
              type: string
              description: Riferimento del centro proprietario di questa attività
            description:
              type: string
              description: Descrizione dell'attività
            details:
              type: [string, null]
              format: html
              description: Dettagli dell'attività in html
            title:
              type: string
              description: Nome dell'attività
            startDate:
              type: string
              format: date
              description: Data di inizio (AAAA-MM-GG)
            endDate:
              type: string
              format: date
              description: Data di fine (AAAA-MM-GG)
            subscriptionStartDate:
              type: string
              format: date
              description: Data di inizio iscrizione (AAAA-MM-GG)
            subscriptionEndDate:
              type: string
              format: date
              description: Data di fine iscrizione (AAAA-MM-GG)
            timetable:
              type: [null,string]
              description: Informazioni sul calendario di svolgimento dell'attività
            type:
              $ref: '#/components/schemas/ActivityType'
            imageUrl:
              type: string
              format: uri
              description: URL dell'immagine di copertina per l'attività
            reserved:
              type: boolean
              default: false
              description: Attitività riservata a soci, tesserati, ...
            membershipCardRequired:
              type: boolean
              default: false
              description: Richiesta tessera
            manualApproved:
              type: boolean
              default: false
              description: Richiesta approvazione manuale dall'amministratore del centro 
            underageReserved:
              type: boolean
              default: false
              description: Riservata ai minorenni
            limit:
              type: [null,number]
              description: Numero di partecipanti massimo
            availableSlots:
              type: [null,integer]
              description: Numero di posti rimanenti
            allowServicesInstallmentPlan:
              type: boolean
              default: false
              description: Servizi rateizzabili, indica se il prezzo dei servizi scelti debba essere inserito nella prima rata o spalmanto proporzionalmente su ogni rata
            disciplines:
              type: array
              items:
                $ref: '#/components/schemas/Discipline'
            priceLists:
              type: array
              items: 
                $ref: '#/components/schemas/PriceList'
              description: Modalità di pagamento (rateizzazione, ecc.)
            additionalServices:
              type: array
              items: 
                $ref: '#/components/schemas/Service'
              description: Servizi aggiuntivi disponibili per questa attività
            standardServices:
              type: array
              items: 
                $ref: '#/components/schemas/Service'
              description: Servizi inclusi per questa attività
            options:
              type: array
              items: 
                $ref: '#/components/schemas/Option'
              description: Servizi inclusi per questa attività
            termsAndConditions:
              type: [null,string]
              summary: Testo che l'utente deve leggere e accettare per essere ammesso all'attività del centro sportivo
              description: Termini e condizioni di iscrizione all'attività':' regolamenti, clausole, privacy, ecc. che l'utente deve leggere e accettare quando si iscrive a questa attività
            optionalConsentsClauses:
              type: array
              items: 
                $ref: '#/components/schemas/OptionalConsentsClause'
              description: Consensi facoltativi':' lista delle clausole a cui l'utente può liberamente decidere se concedere o meno il consenso (es. pubblicazioni foto, invio pubblicità, ecc.)
            extraConcessions:
              type: array
              items: 
                type: string
              description: Agevolazioni e sconti previsti per questa attività
            requiredDocuments:
              type: array
              items: 
                type: string
              description: Documenti richiesti per l'iscrizione (certificati, carta identità, ecc.)
            discount:
              $ref: '#/components/schemas/Discount'
            lastUpdatedDetails:
              type: string
              format: date-time
              description: Timestamp aggiornamento dati (formato ISO 8601)
        
        PriceList:
          type: object
          required:
            - id
            - description
            - installmentNumber
            - price
          properties:
            id:
              type: integer
            description:
              type: string
            installmentNumber:
              type: integer
            price:
              type: number
            installmentsDetails:
              description: Dettaglio del piano rate (pagate o da pagare)
              type: array
              minItems: 1
              items: 
                $ref: '#/components/schemas/PriceListInstallmentDetail'

        PriceListInstallmentDetail:
          type: object
          required:
            - number
            - amount
          properties:
            number: 
              type: integer
            amount:
              type: number
            expirationDate:
              type: [null, string]
              format: date

        Option:
          type: object
          required:
            - id
            - title
            - values
          properties:
            id:
              type: integer
            title:
              type: string
            values:
              type: array
              minItems: 1
              items:
                type: string

        Service:
          type: object
          required:
            - id
            - description
          properties:
            id:
              type: integer
            description:
              type: string
            price:
              type: number
              default: 0
            countable:
              type: boolean
              default: false
              description: Indica se il servizio è quantificabile (cioè se l'utente può scegliere la quantità)
            maxQuantity:
              type: [null, number]
              description: In caso di servizi quantificabili, indica la quantità massima selezionabile

        OptionalConsentsClause:
          type: object
          required:
            - id
            - title
            - text
          properties:
            id:
              type: integer
              description: ID della clausola accettata (da inviare con il DTO dell'iscrizione se l'utente accetta questa condizione)
            title:
              type: string
              description: Breve descrizione della clausola
            text:
              type: string
              description: Testo completo della clausola facoltativa

        ActivityType:
          type: string
          enum: [Prenotazione, Corso, Evento]
          description: Tipo di attività

        Discount:
          type: object
          properties:
            multiFiglio:
              type: [null,number]
            multiAcquisto:
              type: [null,number]

        SearchItem:
          type: object
          required:
            - id
            - centerId
            - centerName
            - title
            - description
            - bannerUrl
            - city
            - logoUrl
            - lastUpdatedDetails
          properties:
            id:
              type: string
            centerId:
              type: string
            activityId:
              type: [null,string]
            centerName:
              type: string
            title:
              type: string
            description:
              type: string
            bannerUrl:
              type: string
              format: uri
            disciplines:
              type: array
              items:
                $ref: '#/components/schemas/Discipline'
            city:
              type: string
            logoUrl:
              type: string
              format: uri
            startDate:
              type: [null,string]
              format: date
              description: Data di inizio (AAAA-MM-GG)
            endDate:
              type: [null,string]
              format: date
              description: Data di fine (AAAA-MM-GG)
            subscriptionStartDate:
              type: [null,string]
              format: date
              description: Data di inizio iscrizione (AAAA-MM-GG)
            subscriptionEndDate:
              type: [null,string]
              format: date
              description: Data di fine iscrizione (AAAA-MM-GG)
            availableSlots:
              type: [null,integer]
            activityType:
              oneOf:
              - $ref: '#/components/schemas/ActivityType'
              - type: null
            lastUpdatedDetails:
              type: string
              format: date-time
              description: Timestamp aggiornamento dati (formato ISO 8601)

        Discipline:
          type: object
          required:
            - id
            - name
          properties:
            id:
              type: integer
            name:
              type: string

        User:
          type: object
          required:
            - id
            - email
            - lastUpdatedDetails
          properties:
            id:
              type: string
              description: ID univoco utente definito dal Auth Server di Asso.
            firstName:
              type: [null, string]
              description: Nome dell'utente.
            lastName:
              type: [null, string]
              description: Cognome dell'utente.
            displayName:
              type: string
              description: Nome visualizzato dell'utente, può essere "Anonimo" se non specificato.
              default: "Anonimo"
            email:
              type: string
              format: email
              description: Indirizzo email dell'utente.
            birthDate:
              type: [null, string]
              format: date
              description: Data di nascita dell'utente (formato YYYY-MM-DD).
              example: "1990-01-15"
            gender: 
              $ref: '#/components/schemas/Gender'
              default: "Non specificato"
            photoUrl:
              type: [null, string]
              format: uri
              description: URL della foto profilo dell'utente, può essere null.
            lastLoginAt:
              type: [null, string]
              format: date-time
              description: Timestamp ISO 8601 dell'ultimo accesso dell'utente.
              example: "2024-05-22T11:30:00Z"
            fiscalCode: 
              type: [null, string]
              description: Codice Fiscale dell'utente.
              pattern: "^[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]$"
              example: "RSSMRA90A15H501Z"
            placeOfBirth: 
              $ref: '#/components/schemas/Address'
              description: Dettagli del luogo di nascita dell'utente.
            address: 
              $ref: '#/components/schemas/Address'
              description: Indirizzo di residenza dell'utente.
            phone: 
              type: [null,string]
              description: Numero di telefono dell'utente.
            lastUpdatedDetails:
              type: string
              format: date-time
              description: Timestamp aggiornamento dati (formato ISO 8601)

        Gender:
          type: string
          description: Sesso dell'utente.
          enum:
            - "M"
            - "F"
            - "Non specificato"

        Card: 
          type: object
          description: Rappresenta una tessera associata a un utente.
          required:
            - center
            - number
            - type
            - level
          properties:
            center:
              $ref: '#/components/schemas/Address'
            number: 
              type: string
              description: Numero univoco della tessera.
              example: "TC0012345"
            type: 
              type: string
              description: Tipo di tessera.
              enum:
                - "Socio"
                - "Iscritto"
                - "Tesserato"
              example: "Socio"
            level: 
              type: string
              description: Livello della tessera (richiesto da Tennis Comunanza).
              enum:
                - "tessera gold"
                - "tessera silver"
              example: "tessera gold"

        Child: 
          type: object
          required:
            - id
            - firstName
            - lastName
            - displayName
            - birthDate
            - gender
            - fiscalCode
            - placeOfBirth
          properties:
            id:
              type: string
              description: ID univoco figlio dell'Utente
            firstName:
              type: string
              description: Nome del figlio.
            lastName:
              type: string
              description: Cognome del figlio (diverso da quello della madre).
              example: "Rossi"
            displayName:
              type: string
              description: Nome completo del figlio.
            birthDate:
              type: string
              format: date
              description: Data di nascita dell'utente (formato YYYY-MM-DD).
              example: "1990-01-15"
            gender: 
              type: string
              description: Sesso dell'utente.
              enum:
                - "M"
                - "F"
            fiscalCode: 
              type: string
              description: Codice Fiscale dell'utente.
              pattern: "^[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]$"
              example: "RSSMRA90A15H501Z"
            placeOfBirth: 
              $ref: '#/components/schemas/Address'
              description: Dettagli del luogo di nascita dell'utente.
            address: 
              $ref: '#/components/schemas/Address'
              description: Indirizzo di residenza del figlio.

        UserPurchase: 
          type: object
          description: Iscrizione o prenotazione acquistata dall'Utente
          required:
            - id
            - centerId
            - centerName
            - centerLogoUrl
            - activityId
            - activityTitle
            - registeredUser
            - payment
            - availablePaymentMethods
            - createDate
          properties:
            id:
              type: string
              description: ID univoco utente definito dal Auth Server di Asso.
            centerId:
              type: string
              description: ID del centro in cui è stato effettuato l'acquisto
            centerName:
              type: string
              description: Nome del centro in cui è stato effettuato l'acquisto
            centerLogoUrl:
              type: string
              format: uri
              description: URL del logo del centro in cui è stato effettuato l'acquisto 
            activityId:
              type: string
              description: ID dell'attività acquistata
            activityTitle:
              type: string
              description: Nome dell'attività acquistata
            isChildsEnrollment:
              type: boolean
              default: false
              description: Indica se l'iscrizione è dell'utente stesso (false) o di un figlio (true)
            registeredUser:
              type: string
              description: Nome dell'iscritto (utente o figlio)
            notes:
              type: string
              default: ''
              description: Testo libero inserito dall'utente (preferenze, allergie, richieste particolari, ecc.)
            chosenCustomOptions:
              type: array
              description: Opzioni di iscrizione selezionate (titolo-valore)
              items:
                type: object
                required:
                  - title
                  - value
                properties:
                  title: 
                    type: string
                  value:
                    type: string
            chosenServices:
              type: array
              description: Servizi aggiuntivi scelti dall'utente al momento dell'iscrizione
              items:
                type: object
                required:
                  - description
                properties:
                  description:
                    type: string
                  quantity: 
                    type: [null, integer]
            availablePaymentMethods:
              description: Modalità di pagamento ammesse per questa iscrizione (sono le modalità ammesse al momento dell'acquisto e non variano se il centro le modifica in un secondo momento prima che l'utente esegua il pagamento)
              type: array
              minItems: 1
              items: 
                $ref: '#/components/schemas/PaymentMethod'
            payment:
              type: object
              description: Informazioni relative al pagamento di questo acquisto
              required:
                - paidInstallmentsCount
                - paidAmount
                - totalAmount
                - installmentsDetails
              properties:
                paidInstallmentsCount:
                  type: integer
                  description: Numero di rate pagate (il numero di rate totali è la lunghezza dell'array di dettaglio)
                paidAmount:
                  type: number
                  description: Importo già saldato
                totalAmount:
                  type: number
                  description: Importo totale
                installmentsDetails:
                  description: Dettaglio del piano rate (pagate o da pagare)
                  type: array
                  minItems: 1
                  items: 
                    $ref: '#/components/schemas/UserPurchaseInstallmentDetail'
            createDate:
              type: string
              format: date
              description: Data di inserimento dell'iscrizione

        UserPurchaseInstallmentDetail:
          type: object
          description: Dettaglio della rata
          required:
            - paymentIntentId
            - number
            - amount
            - expirationDate
            - paid
          properties:
            paymentIntentId:
              type: integer
              description: ID dell'impegno di pagamento relativo alla rata (da utilizzare per pagare la rata o per scaricarne la ricevuta in caso sia già stata pagata)
            number: 
              type: integer
              description: Progressivo
            amount:
              type: number
            expirationDate:
              type: string
              format: date
            paid: 
              type: boolean
            paidAt:
              type: [null, string]
              format: date
            bankTransferReference:
              type: [null, string]
              description: Causale che il cliente deve indicare nel bonifico quando paga questa rata, per aiutare il centro con la riconciliazione
            bankTransferAccountantUrl:
              type: [null, string]
              format: uri
              description: Link alla contabile del bonifico che attesta l'avvenuto pagamento (balorizzato solo se l'utente paga con bonifico e carica una contabile)


        PaymentMethod:
          type: object
          description: Modalità di pagamento accettate da un centro
          required:
            - id
            - title
            - description
            - type
          properties:
            id:
              type: integer
            title:
              type: string
            description:
              type: string
            iban:
              type: [null, string]
              description: IBAN del conto corrente per il bonifico (solo per tipo bonifico)
            type:
              type: string
              enum:
                - pay at center
                - pay in App
                - bank transfer

        Address:
          type: object
          properties:
            road:
              type: [null,string]
            zipCode:
              type: [null,string]
            city:
              type: [null,string]
            district:
              type: [null,string]
            country:
              type: [null,string]


        # DTO per update e patch

        UpdateTimestampDto:
          type: object
          required:
            - lastUpdatedDetails
          properties:
            lastUpdatedDetails:
              type: string
              format: date-time
              description: Timestamp aggiornamento dati (formato ISO 8601)

        UpdateActivityModules:
          description: sottoinsieme del model "Activity" contenente solo i campi necessari per aggiornare i moduli
          type: object
          required:
            - lastUpdatedDetails
          properties:
            termsAndConditions:
              type: string
              summary: Testo che l'utente deve leggere e accettare per essere ammesso all'attività del centro sportivo
              description: Termini e condizioni di iscrizione all'attività':' regolamenti, clausole, privacy, ecc. che l'utente deve leggere e accettare quando si iscrive a questa attività
            optionalConsentsClauses:
              type: array
              items: 
                $ref: '#/components/schemas/OptionalConsentsClause'
              description: Consensi facoltativi':' lista delle clausole a cui l'utente può liberamente decidere se concedere o meno il consenso (es. pubblicazioni foto, invio pubblicità, ecc.)
            lastUpdatedDetails:
              type: string
              format: date-time
              description: Timestamp aggiornamento dati (formato ISO 8601)

        UpdateUserPurchase:
          type: object
          allOf:
            - $ref: '#/components/schemas/UserPurchase'
            - properties:
                id:
                  type: string
                  description: ID univoco utente definito dal Auth Server di Asso.
                centerId:
                  type: string
                  description: ID del centro in cui è stato effettuato l'acquisto
                centerName:
                  type: string
                  description: Nome del centro in cui è stato effettuato l'acquisto
                centerLogoUrl:
                  type: string
                  format: uri
                  description: URL del logo del centro in cui è stato effettuato l'acquisto 
                activityId:
                  type: string
                  description: ID dell'attività acquistata
                activityTitle:
                  type: string
                  description: Nome dell'attività acquistata
                registeredUser:
                  type: string
                  description: Nome dell'iscritto (utente o figlio)
                availablePaymentMethods:
                  description: Modalità di pagamento ammesse per questa iscrizione (sono le modalità ammesse al momento dell'acquisto e non variano se il centro le modifica in un secondo momento prima che l'utente esegua il pagamento)
                  type: array
                  minItems: 1
                  items: 
                    $ref: '#/components/schemas/PaymentMethod'
                createDate:
                  type: string
                  format: date
                  description: Data di inserimento dell'iscrizione


